$jsc-bg-dark-24: #242424;
$jsc-bg-dark-33: #333333;
$jsc-bg-dark-39: #393939;
$jsc-bg-red-fc: #fcf6f6;
$jsc-bg-red-e7: #e7e7e7;
$jsc-bg-orange-ce: #cebdb5;
$jsc-bg-orange-grad: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);


$jsc-color-gray-b5: #b5b5b5;
$jsc-color-gray-4c: #4c4c4c;
$jsc-color-gray-57: #575656;
$jsc-color-gray-47: #474747;
$jsc-color-gray-84: #848484;
$jsc-color-gray-2e: #2e2e2e;
$jsc-color-gray-32: #323232;
$jsc-color-gray-16: #161616;
$jsc-color-gray-1d: #1d1d1d;
$jsc-color-red-5d: #fb5d5d;

