$jsc-bg-dark-24: #242424;
$jsc-bg-dark-33: #333333;
$jsc-bg-dark-39: #393939;
$jsc-bg-red-fc: #fcf6f6;
$jsc-bg-red-e7: #e7e7e7;
$jsc-bg-orange-ce: #cebdb5;


$jsc-color-gray-b5: #b5b5b5;
$jsc-color-gray-4c: #4c4c4c;
$jsc-color-gray-47: #474747;
$jsc-color-gray-1d: #1d1d1d;
$jsc-color-red-5d: #fb5d5d;

