@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none !important;
  color: #4c4c4c;
}

ul > li {
  list-style: none;
}

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot");
  src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff") format("woff"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.svg#Pe-icon-7-stroke") format("svg");
}
.jsc-hover-red:hover {
  color: #fb5d5d !important;
}

.jsc-slider-page {
  height: 160vh;
  overflow: hidden;
  background-color: #cebdb5;
}
.jsc-slider-page #right {
  position: absolute;
  right: 0;
  top: 500px;
}
.jsc-slider-page #right i {
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.jsc-slider-page #left {
  position: absolute;
  top: 500px;
}
.jsc-slider-page #left i {
  background-color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}
.jsc-slider-page:hover #left {
  left: 30px;
}
.jsc-slider-page:hover #left i {
  opacity: 1;
  transition: 0.3s;
  transform: translate(30px);
}
.jsc-slider-page:hover #right i {
  opacity: 1;
  transition: 0.3s;
  transform: translate(-30px);
}
.jsc-slider-page .jsc-left-slider {
  position: absolute;
  bottom: -80px;
  animation: textUp 3s 1s ease-out infinite;
}
.jsc-slider-page .jsc-left-slider .jsc-left-slider-offer-text h5 {
  margin: 0;
  font-size: 16px;
}
.jsc-slider-page .jsc-left-slider .jsc-left-slider-offer-text div {
  margin-right: 15px;
  border: none;
  height: 3px;
  width: 30px;
  background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
}
.jsc-slider-page .jsc-left-slider .jsc-left-slider-sale-text {
  color: #393939;
}
.jsc-slider-page .jsc-left-slider .jsc-left-slider-sale-text h1 {
  font-size: 70px;
  font-weight: 200;
}
.jsc-slider-page .jsc-left-slider .jsc-left-slider-sale-text span {
  font-size: 70px;
  font-weight: bold;
}

@keyframes textUp {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  50% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.jsc-right-slider {
  position: relative;
  animation: textUp 3s 1s ease-out infinite;
}
.jsc-right-slider .jsc-right-slider-image {
  position: absolute;
  top: 80px;
}
.jsc-right-slider .jsc-right-slider-product-info {
  position: absolute;
  right: 70px;
  top: 500px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.jsc-header-top {
  background-color: #242424;
}
.jsc-header-top .content {
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  color: #b5b5b5;
}

.jsc-header-bottom .jsc-sticky {
  box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation: stick 2s;
}

.jsc-sticky-items {
  padding-inline: 15px;
}

@keyframes stick {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.jsc-header-actions {
  display: flex;
  place-items: center;
}
.jsc-header-actions .login {
  color: #fb5d5d !important;
}
.jsc-header-actions a:not(:first-child) {
  margin-left: 20px;
  display: inline-block;
  line-height: 50px;
}
.jsc-header-actions a:hover .jsc-icon::before {
  color: #fb5d5d;
  font-weight: 600;
}
.jsc-header-actions .jsc-icon::before {
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
  font-size: 25px;
  color: #4c4c4c;
}
.jsc-header-actions .jsc-icon-search::before {
  content: "\e618";
}
.jsc-header-actions .jsc-icon-heart::before {
  content: "\e642";
}
.jsc-header-actions .jsc-icon-shopbag::before {
  content: "\e615";
}
.jsc-header-actions .jsc-icon-menu::before {
  font-size: 30px;
  content: "\e636";
}
.jsc-header-actions .jsc-icon-menu {
  display: none;
}

.jsc-navbar > ul > li:not(:first-child) {
  margin-left: 50px;
}
.jsc-navbar > ul {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}
.jsc-navbar > ul > li {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.jsc-navbar > ul > li > a {
  text-transform: uppercase;
  line-height: 99px;
  font-weight: 600;
  color: #4c4c4c !important;
}
.jsc-navbar > ul .jsc-dropdown-li > a::after {
  content: "\e688";
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
  font-size: 14px;
}

@media (max-width: 992px) {
  .jsc-navbar {
    display: none !important;
  }
  #stickyBar {
    padding-block: 15px;
  }
  .jsc-icon-menu {
    display: inline-block !important;
  }
}
.jsc-dropdown-li {
  position: relative;
}

.jsc-downbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
  padding: 20px 0 30px 30px;
  visibility: hidden;
  display: none;
}

#shopId .jsc-downbar-menu {
  left: -159px;
}

.jsc-dropdown-li:hover .jsc-downbar-menu {
  visibility: visible;
  display: block;
}

.list-item > ul > .title {
  font-weight: 600;
  color: #4c4c4c;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.list-item .line {
  border-bottom: 1px solid #ebebeb;
  margin-right: -30px !important;
}
.list-item > ul {
  margin: 0;
  padding: 0;
  margin-right: 30px !important;
  padding-right: 15px;
}
.list-item li {
  width: -moz-max-content;
  width: max-content;
}
.list-item li a {
  line-height: 30px;
  color: #1d1d1d;
  font-size: 14px;
}

.jsc-downbar-menu .list-photo {
  margin-top: 15px;
  margin-left: -12px;
}
.jsc-downbar-menu .list-photo .images {
  padding-right: 30px;
}
.jsc-downbar-menu .list-photo .images > img {
  width: 100%;
}

.jsc-shop-button {
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
  width: -moz-max-content;
  width: max-content;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
}
.jsc-shop-button span {
  margin-right: 10px;
  font-weight: bold;
}
.jsc-shop-button:hover {
  box-shadow: 0px 17px 72px -15px rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=main.css.map */