@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none !important;
  color: #4c4c4c;
}

ul > li {
  list-style: none;
}

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot");
  src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff") format("woff"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.svg#Pe-icon-7-stroke") format("svg");
}
.jsc-hover-red:hover {
  color: #fb5d5d !important;
}

.jsc-slider-page {
  overflow: hidden;
  background-color: #cebdb5;
  position: relative;
}
.jsc-slider-page #right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.jsc-slider-page #right i {
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.jsc-slider-page #left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.jsc-slider-page #left i {
  background-color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}
.jsc-slider-page:hover #left {
  left: 15px;
}
.jsc-slider-page:hover #left i {
  opacity: 1;
  transition: 0.3s;
  transform: translate(30px);
}
.jsc-slider-page:hover #right {
  right: 20px;
}
.jsc-slider-page:hover #right i {
  opacity: 1;
  transition: 0.3s;
  transform: translate(-30px);
}

.jsc-slider {
  height: 700px;
}
.jsc-slider .jsc-slider-item {
  position: absolute;
  gap: 10rem;
}
.jsc-slider .jsc-slider-item:not(.active) {
  top: 100%;
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item {
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-offer-text h5 {
  margin: 0;
  font-size: 18px;
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-offer-text div {
  margin-right: 15px;
  border: none;
  height: 3px;
  width: 30px;
  background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text {
  color: #393939;
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text h1 {
  font-size: 60px;
  font-weight: 200;
}
.jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text span {
  font-size: 60px;
  font-weight: bold;
}
.jsc-slider .jsc-slider-item .jsc-right-slider-item {
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.jsc-slider .jsc-slider-item .jsc-right-slider-item .jsc-right-slider-image img {
  width: 100%;
}
.jsc-slider .jsc-slider-item .jsc-right-slider-item .jsc-right-slider-product-info {
  position: absolute;
  right: 0;
  top: 50%;
  width: 252px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

@keyframes next1 {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
  }
}
@keyframes next2 {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .jsc-slider {
    height: 870px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-offer-text h5 {
    font-size: 15px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text h1 {
    font-size: 30px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text span {
    font-size: 30px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-right-slider-item .jsc-right-slider-product-info {
    width: 200px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .jsc-slider {
    height: 400px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item {
    gap: 15px;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-offer-text h5 {
    font-size: 10px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text h1 {
    font-size: 28px !important;
  }
  .jsc-slider .jsc-slider-item .jsc-left-slider-item .jsc-left-slider-sale-text span {
    font-size: 28px !important;
  }
}
.jsc-banner-container {
  padding-block: 80px;
}
.jsc-banner-container .jsc-banner__items:hover {
  overflow: hidden;
}
.jsc-banner-container .jsc-banner__items:hover .jsc-banner__image img {
  transform: scale(1.1) rotate(3deg);
}
.jsc-banner-container .jsc-banner__items {
  position: relative;
  display: block;
}
.jsc-banner-container .jsc-banner__items .jsc-banner__image img {
  width: 100%;
}
.jsc-banner-container .jsc-banner__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 60px 45px;
}
.jsc-banner-container .jsc-banner__content .title {
  color: #323232;
  font-size: 24px !important;
  margin-bottom: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.jsc-banner-container .jsc-banner__content .amount {
  color: #575656;
}
.jsc-banner-container .content-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jsc-banner-container .content-center .title_center {
  font-size: 30px;
  margin-bottom: 19px;
  color: #fb5d5d;
  font-weight: 800;
}
.jsc-banner-container .content-center .shop-link {
  font-size: 18px;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
  text-decoration: underline !important;
  color: #161616;
}

.jsc-feature-content {
  padding-bottom: 80px;
}
.jsc-feature-content .feature-cards {
  border: 1px solid #e8e8e8;
  padding: 30px;
}
.jsc-feature-content .feature-cards-content {
  display: flex;
}
.jsc-feature-content .feature-cards-content .cards-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.jsc-feature-content .feature-cards-content .cards-image img {
  transition: all 0.25s ease;
}
.jsc-feature-content .feature-cards-content .cards-image:hover img {
  transform: scale(0.9);
}
.jsc-feature-content .feature-cards-content .cars-content h4 {
  color: #2e2e2e;
}
.jsc-feature-content .feature-cards-content .cars-content span {
  color: #848484;
}

.jsc-products .products__row1 {
  border-bottom: 1px solid #e8e8e8;
}
.jsc-products .products__row1 .product-nav-title .title {
  font-size: 36px;
  font-weight: 800;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
}
.jsc-products .products__row1 .tablist .nav .nav-item .nav-link {
  padding-inline: 25px;
}
.jsc-products .products__row1 .tablist .nav .nav-item .nav-link span {
  color: #A7A7A7;
  font-size: 18px;
  font-weight: bold;
}
.jsc-products .products__row1 .tablist .nav .nav-item:hover .nav-link,
.jsc-products .products__row1 .tablist .nav .nav-item .active {
  color: #fb5d5d !important;
}
.jsc-products .products__row1 .tablist .nav .nav-item:hover .nav-link span,
.jsc-products .products__row1 .tablist .nav .nav-item .active span {
  position: relative;
}
.jsc-products .products__row1 .tablist .nav .nav-item:hover .nav-link span::after,
.jsc-products .products__row1 .tablist .nav .nav-item .active span::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #fb5d5d;
  bottom: -20px;
  left: 0;
}
.jsc-products .products__row1 .tablist .active {
  color: #fb5d5d !important;
}
.jsc-products .products__row1 .tablist .nav-item:last-child .nav-link {
  padding-right: 0;
}
.jsc-products .products__row2 .product-col {
  border: 1px slid red;
  height: 250px;
  background-color: blue;
}

.jsc-header-top {
  background-color: #242424;
}
.jsc-header-top .content {
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  color: #b5b5b5;
}

.jsc-header-bottom .jsc-sticky {
  box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  animation: stick 2s;
}

.jsc-sticky-items {
  padding-inline: 15px;
}

@keyframes stick {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.jsc-header-actions {
  display: flex;
  align-items: center;
  justify-content: end;
}
.jsc-header-actions .login {
  color: #fb5d5d !important;
}
.jsc-header-actions a {
  margin-left: 20px;
}
.jsc-header-actions .jsc-icon:hover::before {
  color: #fb5d5d;
  font-weight: 600;
}
.jsc-header-actions .jsc-icon {
  display: inline;
}
.jsc-header-actions .jsc-icon::before {
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
  font-size: 25px;
  color: #4c4c4c;
}
.jsc-header-actions .jsc-icon-search::before {
  content: "\e618";
}
.jsc-header-actions .jsc-icon-heart::before {
  content: "\e642";
}
.jsc-header-actions .jsc-icon-shopbag::before {
  content: "\e615";
}
.jsc-header-actions .jsc-icon-menu::before {
  font-size: 27px;
  content: "\e636";
}
.jsc-header-actions .jsc-icon-menu {
  display: none;
}

.jsc-navbar > ul > li:not(:first-child) {
  margin-left: 50px;
}
.jsc-navbar > ul {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}
.jsc-navbar > ul > li {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.jsc-navbar > ul > li > a {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 99px;
  font-weight: 600;
  color: #4c4c4c !important;
}
.jsc-navbar > ul .jsc-dropdown-li > a::after {
  content: "\e688";
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
  font-size: 14px;
}

.jsc-dropdown-li {
  position: relative;
}

.jsc-downbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
  padding: 20px 0 30px 30px;
  visibility: hidden;
  display: none;
}

#shopId .jsc-downbar-menu {
  left: -159px;
}

.jsc-dropdown-li:hover .jsc-downbar-menu {
  visibility: visible;
  display: block;
}

.list-item > ul > .title {
  font-weight: 600;
  color: #4c4c4c;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.list-item .line {
  border-bottom: 1px solid #ebebeb;
  margin-right: -30px !important;
}
.list-item > ul {
  margin: 0;
  padding: 0;
  margin-right: 30px !important;
  padding-right: 15px;
}
.list-item li {
  width: -moz-max-content;
  width: max-content;
}
.list-item li a {
  line-height: 30px;
  color: #1d1d1d;
  font-size: 14px;
}

.jsc-downbar-menu .list-photo {
  margin-top: 15px;
  margin-left: -12px;
}
.jsc-downbar-menu .list-photo .images {
  padding-right: 30px;
}
.jsc-downbar-menu .list-photo .images > img {
  width: 100%;
}

.body-blocked {
  position: fixed;
  background-color: transparent;
  top: 0;
  height: 10px;
  width: 100%;
  height: 100vh;
  z-index: -777;
}

.jsc-sidenav-mobil {
  position: fixed;
  left: -400px;
  width: 350px;
  height: 100vh;
  z-index: 7;
  padding: 50px 30px;
  background-color: #fff;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s;
}
.jsc-sidenav-mobil .plus-icon > a,
.jsc-sidenav-mobil .plus-icon > span {
  display: flex;
  justify-content: space-between;
}
.jsc-sidenav-mobil .plus-icon > a::after,
.jsc-sidenav-mobil .plus-icon > span::after {
  content: "+";
  color: #4c4c4c;
}
.jsc-sidenav-mobil .active-minus::after {
  content: "_" !important;
}
.jsc-sidenav-mobil a {
  display: flex;
  color: #474747;
}
.jsc-sidenav-mobil ul {
  padding: 0;
}
.jsc-sidenav-mobil li:hover > a,
.jsc-sidenav-mobil li:hover > span {
  color: #fb5d5d;
}

.jsc-mobil-list {
  padding: 0;
}
.jsc-mobil-list-li > a {
  display: block;
  padding-block: 10px;
  text-transform: capitalize;
  font-weight: 700;
}
.jsc-mobil-list-li > a,
.jsc-mobil-list .jsc-mobil-downbar span,
.jsc-mobil-list .jsc-mobil-downbar a {
  border-top: 1px solid #eee;
}
.jsc-mobil-list-li > a:last-child {
  border-bottom: 1px solid #eee;
}
.jsc-mobil-list .jsc-mobil-downbar,
.jsc-mobil-list .shop-down-list ul {
  display: none;
}

.jsc-mobil-downbar span {
  font-weight: 700;
  padding-left: 10px !important;
}
.jsc-mobil-downbar a,
.jsc-mobil-downbar span {
  display: block;
  font-size: 14px;
  padding: 10px 0 10px 15px;
  width: 100%;
}
.jsc-mobil-downbar .list-item ul,
.jsc-mobil-downbar .list-item {
  padding: 0;
  width: 100%;
}
.jsc-mobil-downbar .list-item li {
  width: 100%;
}

.jsc-social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.jsc-social-icons a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fb5d5d;
  border-radius: 100%;
}
.jsc-social-icons a i {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.jsc-social-icons a:hover {
  transition: all 0.5s ease;
  background-color: black;
}

@media (min-width: 1200px) {
  .jsc-banner-container {
    padding-block: 100px;
  }
}
@media (max-width: 1200px) {
  .jsc-feature-content .feature-cards {
    padding: 20px;
  }
  .jsc-feature-content .feature-cards-content .cars-content h4 {
    font-size: 20px;
  }
  .jsc-feature-content .feature-cards-content .cars-content span {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  #navbarId {
    display: none !important;
  }
  #stickyBar {
    padding-block: 15px;
  }
  #stickyBar .row {
    justify-content: space-between !important;
  }
  .jsc-icon-menu {
    display: inline-block !important;
  }
  .jsc-header {
    position: relative;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .jsc-banner-container {
    padding-block: 60px;
  }
  .jsc-banner-container .row1 {
    padding-bottom: 60px;
  }
  .jsc-banner-container .jsc-banner__content {
    padding: 30px 20px;
  }
  .jsc-banner-container .content-center .title_center {
    font-size: 20px;
  }
  .jsc-banner-container .content-center .shop-link {
    font-size: 16px;
  }
  .row-feature-card {
    row-gap: 30px;
  }
}
@media (max-width: 768px) {
  .jsc-banner-container .row {
    gap: 30px !important;
  }
  .jsc-feature-content .jsc-col {
    min-width: 100% !important;
    padding-bottom: 30px;
  }
  .jsc-products .product-nav-title .title {
    font-size: 30px;
  }
  .jsc-products .product-nav .nav {
    margin-bottom: 9px;
  }
  .jsc-products .product-nav .nav-item:first-child a {
    padding-left: 0 !important;
  }
}
@media (max-width: 576px) {
  .jsc-icon::before {
    font-size: 22px !important;
    margin-left: 10px;
  }
  .product-nav .nav-item .nav-link {
    padding-inline: 15px !important;
  }
}
@media (max-width: 425px) {
  #stickyBar .row {
    flex-direction: column;
    row-gap: 5px;
  }
  .jsc-sidenav-mobil {
    width: 300px;
  }
  .product-nav .nav-item .nav-link {
    padding-inline: 12.5px !important;
  }
  .product-nav .nav-item .nav-link span {
    font-size: 16px !important;
  }
}
@media (max-width: 360px) {
  .jsc-header-actions .login {
    margin: 0 !important;
  }
  .feature-cards {
    padding: 10px !important;
  }
  .feature-cards img {
    scale: 0.8;
  }
  .cards-image {
    margin-right: 15px !important;
    width: 60px !important;
    height: 60px !important;
  }
  .jsc-products .product-nav-title .title {
    font-size: 26px;
  }
  .jsc-products .product-nav .nav-item .nav-link {
    padding-inline: 10px !important;
  }
  .jsc-products .product-nav .nav-item .nav-link span {
    font-size: 14px !important;
  }
}
.jsc-section-carousel {
  background-color: antiquewhite;
  position: relative;
}

.jsc-control-icon i {
  font-family: "Pe-icon-7-stroke";
  font-size: 40px;
  font-style: normal;
}
.jsc-control-icon__next::before {
  content: "\e686";
}
.jsc-control-icon__prevous::before {
  content: "\e684";
}

.jsc-slide {
  position: absolute;
  background-color: aquamarine;
}
.jsc-slide .row {
  display: flex;
  align-items: center;
}
.jsc-slide__image {
  display: flex;
}
.jsc-slide__image img {
  max-width: 100%;
  width: 80%;
  margin-block: 30px;
}

@media (max-width: 575px) {
  .jsc-slide__image {
    justify-content: center;
  }
  .jsc-slide__image img {
    width: 60% !important;
    margin-block: auto;
  }
}
.jsc-mobil__btn-close {
  position: absolute;
  top: -5px;
  right: 30px;
}
.jsc-mobil__btn-close::after {
  content: "\e680";
  font-size: 40px;
  background-color: #fb5d5d;
  color: white;
  border-radius: 100%;
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
}

.jsc-shop-button {
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
  width: -moz-max-content;
  width: max-content;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
}
.jsc-shop-button span {
  margin-right: 10px;
  font-weight: bold;
}
.jsc-shop-button:hover {
  box-shadow: 0px 17px 72px -15px rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=main.css.map */