@use '../abstarcts/_variables' as color;

.jsc-hover-red:hover {
    color: color.$jsc-color-red-5d !important;
}

.jsc-slider-page {
    overflow: hidden;
    background-color: color.$jsc-bg-orange-ce;
<<<<<<< HEAD
    position: relative;

    #right {
=======
   position: relative;
    #right{
>>>>>>> samir
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
<<<<<<< HEAD

        i {
=======
        i{
>>>>>>> samir
            background-color: #fff;
            padding: 20px;
            border-radius: 50%;
            color: black;
            cursor: pointer;
            transition: .3s;
            opacity: 0;
            width: 15px;
            height: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
        }
    }

    #left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
<<<<<<< HEAD
        i {
=======
        // left: 200px;
        i{

>>>>>>> samir
            background-color: #fff;
            width: 15px;
            height: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
            border-radius: 50%;
            color: black;
            cursor: pointer;
            transition: .3s;
            opacity: 0;
        }
    }
<<<<<<< HEAD

    &:hover {
        #left {
            left: 15px;

            i {
=======
    &:hover{
        #left{
            left: 15px;
            i{
>>>>>>> samir

                opacity: 1;
                transition: .3s;
                transform: translate(30px);
            }
        }
<<<<<<< HEAD
    }

    &:hover {
        #right {
            right: 20px;

            i {
=======
    }  
    &:hover{
        #right{
            right: 20px;
            i{
>>>>>>> samir

                opacity: 1;
                transition: .3s;
                transform: translate(-30px);
            }
        }
    }
<<<<<<< HEAD

    .jsc-slider {
        height: 700px;

        .jsc-slider-item {
            position: absolute;
            gap: 10rem;

            &:not(.active) {
                top: 100%;
            }

            .jsc-left-slider-item {
                margin-top: 15px;
                object-fit: cover;

                .jsc-left-slider-offer-text {
                    h5 {
                        margin: 0;
                        font-size: 18px;
                    }

                    div {
                        margin-right: 15px;
                        border: none;
                        height: 3px;
                        width: 30px;
                        background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
                    }
                }

                .jsc-left-slider-sale-text {
                    color: color.$jsc-bg-dark-39;

                    h1 {
                        font-size: 60px;
                        font-weight: 200;
                    }

                    span {
                        font-size: 60px;
                        font-weight: bold;
                    }
                }
            }

            .jsc-right-slider-item {
                margin-top: 15px;
                object-fit: cover;


                .jsc-right-slider-image {
                    img {

                        width: 100%;
                    }
                }

                .jsc-right-slider-product-info {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 252px;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 20px;
                }
            }
        }
    }
}

@keyframes next1 {
    0% {
        top: 0;
        opacity: 1;
    }


    100% {
=======
}
    .jsc-slider{
        height: 700px;
    .jsc-slider-item{
     position: absolute;
     gap: 10rem;
    
     &:not(.active){
        top: 100%;
    }
        .jsc-left-slider-item{
            // margin-top: 15px;
            // position: relative;
            // bottom: 40rem;
            margin-top: 15px;
            object-fit: cover;
            // &:not(.active){
            //     top: 100%;
            // }
          
            .jsc-left-slider-offer-text{
                h5{
                    margin: 0;
                    font-size: 18px;
                }
                div{
                    margin-right: 15px;
                    border: none;
                    height: 3px;
                    width: 30px;
                    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
                }
            }
            .jsc-left-slider-sale-text{
                color: color.$jsc-bg-dark-39;
                h1{
                    font-size: 60px;
                    font-weight: 200;
                }
                span{
                    font-size: 60px;
                    font-weight: bold;
                }
            }
        }
        .jsc-right-slider-item{
            margin-top: 15px;
            object-fit: cover;
          
            
            .jsc-right-slider-image{
               img{
            
                width: 100%;
               }
            }
            .jsc-right-slider-product-info{
                position: absolute;
                right: 0;
                top: 50%;
                width: 252px;
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
            }
        }
    }
}
@keyframes next1 {
    0%{
        top:0;
        opacity: 1;
    }
  

    100%{
>>>>>>> samir
        opacity: 0;
        top: -100%;

    }
}

@keyframes next2 {
    0% {
        top: 100%;
        opacity: 0;
    }


    100% {
        top: 0%;
<<<<<<< HEAD

=======
>>>>>>> samir
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .jsc-slider {
        height: 870px !important;

<<<<<<< HEAD
        .jsc-slider-item {
            .jsc-left-slider-item {
                justify-content: center;
                align-items: center;
                gap: 15px;

                .jsc-left-slider-offer-text {
                    h5 {
                        font-size: 15px !important;
                    }
                }

                .jsc-left-slider-sale-text {

                    h1 {
                        font-size: 30px !important;
                    }

                    span {
                        font-size: 30px !important;
                    }
                }
            }

            .jsc-right-slider-item {
                .jsc-right-slider-product-info {
                    width: 200px !important;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width:768px) {
    .jsc-slider {
        height: 400px !important;

        .jsc-slider-item {
            .jsc-left-slider-item {
                gap: 15px;

                .jsc-left-slider-offer-text {
                    h5 {
                        font-size: 10px !important;
                    }
                }

                .jsc-left-slider-sale-text {

                    h1 {
                        font-size: 28px !important;
                    }

                    span {
                        font-size: 28px !important;
                    }
                }
            }
        }
    }

=======
@media (max-width: 576px)  {
    .jsc-slider{
        height: 870px !important;
    .jsc-slider-item{
           .jsc-left-slider-item{
            justify-content: center;
            align-items: center ;
            gap: 15px;
               .jsc-left-slider-offer-text{
                   h5{
                    font-size: 15px !important;
                   }
               }
               .jsc-left-slider-sale-text{
   
                   h1{
                    font-size: 30px !important;
                   }
                   span{
                    font-size: 30px !important;
                   }
               }
           }
           .jsc-right-slider-item{
               .jsc-right-slider-product-info{
                width: 200px !important;
               }
           }
       }
}
}

@media (min-width: 576px) and  (max-width:768px){
    .jsc-slider{
        height: 400px !important;
    .jsc-slider-item{
        .jsc-left-slider-item{
            gap: 15px   ;
            .jsc-left-slider-offer-text{
                h5{
                 font-size: 10px !important;
                }
            }
            .jsc-left-slider-sale-text{

                h1{
                 font-size: 28px !important;
                }
                span{
                 font-size: 28px !important;
                }
            }
        }
    }
>>>>>>> samir
}

}



//-----------------------------------

// Banner section start -->

.jsc-banner-container {
    padding-block: 80px;

    //hover start
    .jsc-banner__items:hover {
        overflow: hidden;

        .jsc-banner__image img {
            transform: scale(1.1) rotate(3deg);
        }
    }

    //hover end
    .jsc-banner__items {
        position: relative;
        display: block;

        .jsc-banner__image img {
            width: 100%;
        }

    }

    .jsc-banner__content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 60px 45px;

        .title {
            color: color.$jsc-color-gray-32;
            font-size: 24px !important;
            margin-bottom: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .amount {
            color: color.$jsc-color-gray-57;
        }
    }

    .content-center {
        justify-content: center;
        align-items: center;
        text-align: center;

        .title_center {
            font-size: 30px;
            margin-bottom: 19px;
            color: color.$jsc-color-red-5d;
            font-weight: 800;
        }

        .shop-link {
            font-size: 18px;
            font-weight: 600;
            width: max-content;
            text-decoration: underline !important;
            color: color.$jsc-color-gray-16;
        }

    }
}

// Banner section end -->

//-----------------------------------

// Feature section start -->

.jsc-feature-content {
    padding-bottom: 80px;

    .feature-cards {
        border: 1px solid #e8e8e8;
        padding: 30px;
    }

    .feature-cards-content {
        display: flex;

        .cards-image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background: color.$jsc-bg-orange-grad;
            width: 70px;
            height: 70px;
            margin-right: 20px;

            img {
                transition: all 0.25s ease;
            }
        }

        //hover
        .cards-image:hover {
            img {
                transform: scale(0.9);
            }
        }

        .cars-content {
            h4 {
                color: color.$jsc-color-gray-2e;
            }

            span {
                color: color.$jsc-color-gray-84;
            }
        }
    }
}

// Feature section end -->

<<<<<<< HEAD
//-----------------------------------
=======
//-----------------------------------


// Product section start -->

.jsc-products {

    // produuct nav bar area start
    .products__row1 {
        border-bottom: 1px solid #e8e8e8;

        .product-nav-title {
            .title {
                font-size: 36px;
                font-weight: 800;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: color.$jsc-bg-orange-grad;
            }
        }

        .tablist {
            .nav {
                .nav-item {
                    .nav-link {
                        padding-inline: 25px;

                        span {
                            color: #A7A7A7;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                    &:hover .nav-link,
                    .active {
                        color: color.$jsc-color-red-5d !important;

                        span {
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                border: 1px solid color.$jsc-color-red-5d;
                                bottom: -20px;
                                left: 0;
                            }
                        }
                    }
                }
            }

            .active {
                color: color.$jsc-color-red-5d !important;
            }

            .nav-item:last-child .nav-link {
                padding-right: 0;
            }
        }
    }
    // produuct nav bar area end

    //-----------------------------------------------------------------

    // produuct cards area start
    .products__row2 {

        .product-col{
            // margin-right: 20px;
            border: 1px slid red;
            height: 250px;
            background-color: blue;
        }
        // .product-col:nth-child(3n){
        //     margin-right: 0 !important;
        // }
    }

    // produuct cards area end
}

// Product section end -->
>>>>>>> samir
