
//mobil close button
@use '../abstarcts/_variables' as color;

.jsc-mobil{
    &__btn-close {
        position: absolute;
        top: -5px;
        right: 30px;
    }

    &__btn-close::after {
        content: '\e680';
        font-size: 40px;
        background-color: color.$jsc-color-red-5d;
        color: white;
        border-radius: 100%;
        font-family: 'Pe-icon-7-stroke';
        font-style: normal;
    }
}
.jsc-shop-button{
    padding: 20px 40px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
    width: max-content;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    span{
        margin-right: 10px;
        font-weight: bold;
    }
    &:hover{
        box-shadow: 0px 17px 72px -15px rgba(0,0,0,0.75);
    }
}