@font-face {
    font-family: "Pe-icon-7-stroke";
    src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot");
    src: url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/7218a2da5a03f622ca18085806382043.svg#Pe-icon-7-stroke")format("svg");
}